<style>
.resourceBox{
  height: 200px;
  text-align: center;
  vertical-align: middle;
  line-height: 200px; 
  margin: 10px 10px;
  font-size: 30px;
  color: white;
  background-color: grey;
}  

</style>

<div class="container">
  <div class="row">
    <a href="/rounds"><div class="col-xs-4 resourceBox">Rounds</div></a>
    <a href="/interview"><div class="col-xs-4 resourceBox">Interview</div></a>
  </div>

  <div class="row">
    <a href="/positions"><div class="col-xs-3 resourceBox">Positions</div></a>
    <a href="/candidates"><div class="col-xs-3 resourceBox">Candidates</div></a>
    <a href="/questions"><div class="col-xs-3 resourceBox">Interview Questions</div></a>
  </div>
</div>