<nav class="navbar navbar-default navbar-inverse" role="navigation">
  <div class="container-fluid" style="padding-left: 50px;">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/"><img src="/img/lasso-logo.png" class="lasso_logo"><span class="logo_text">RoundUp</span></a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a ng-if="navigation.loggedIn === true" class="dropdown-toggle" data-toggle="dropdown" href="#">Site Navigation<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="/resources">Resources</a></li>
            <li><a href="/positions">Positions</a></li>
            <li><a href="/questions">Questions</a></li>
            <li><a href="/candidates">Candidates</a></li>
            <li><a href="/interview">Interview Candidate</a></li>
            <li><a href="/rounds">Rounds</a></li>
          </ul>
        </li>
        <li><a ng-if="navigation.loggedIn === false" href="/signup"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
        <li>
          <div ng-if="navigation.loggedIn === true" style="font-size: 10px; color: #9d9d9d;">logged in as {{navigation.userData.firstName}}</div>
        <a ng-if="navigation.loggedIn === true" ng-click="navigation.logout()" href="/" style="padding-top: 3px; padding-bottom: 3px;" >
        <span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
      </ul>
    </div>
  </div>
</nav>