
  <div style="width: 300px; margin: 0 auto;">
    <form ng-submit="newCandidateForm.submitCandidate()">
      <input type="text" class="form-control" ng-model="newCandidateForm.newCandidate.firstName" placeholder="First Name">
      <input type="text" class="form-control" ng-model="newCandidateForm.newCandidate.lastName" placeholder="Last Name"><br>
      <input type="text" class="form-control" ng-model="newCandidateForm.newCandidate.linkedIn" placeholder="LinkedIn"><br>
      <input type="submit" class="roundup_button orange_button btn">
    </form>
  </div>
  <br>
  <hr>
  <br>
